<div class="container mx-auto justify-content-center">
    <div class="row margin-top-30 margin-bottom-30">
        <div class="col-lg-4 col-md-4 col-sm-12 text-center margin-bottom-30">
            <a href="/NewsArticle/NewsArticles" class="btn btn-info full-width">Articles</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 text-center margin-bottom-30">
            <a href="/NewsArticle/CreateNewsArticle" class="btn btn-info full-width">Create article</a>
        </div>
    </div>
</div>